body {
background-color: #2f3752;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
overflow: hidden;
}
.editor {
position: fixed;
right: 0;
top: 0;
width: 90%;
height: 70%;
color: #a8a5a2;
overflow-y: auto;
}
.editor #code {
width: 98%;
height: 100%;
border: none;
background-color: transparent;
position: absolute;
right: 0;
top: 0;
outline: none;
color: #a8a5a2;
}
.toolkit {
background-color : #1B2030;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 30%;
}
.toolkit .head {
position: absolute;
left: 0;
top: 0;
color: #c4c2c2;
border-top: 5px solid #54a16f;
border-bottom: 5px solid #54a16f;
width: 100%;
height: 10%;
display: flex;
flex-direction: row;
align-items: center;
background-color : #161A26;
}
.toolkit .head p {
padding: 0% 2%;
background-color : #161A26;
height: 100%;
line-height: 100%;
text-align: center;
}

.sidepanel {
overflow-y: auto;
position: fixed;
left: 0;
top: 0;
color: #c4c2c2;
border-right: 3px solid #54a16f;
width: 10%;
height: 70%;
display: flex;
flex-direction: column;
align-items: center;
background-color : #1B2030;
}
.sidepanel i {
font-size: 450%;
padding: 1%;
margin: 3% 1%
}